<div id="burger-image">
<img src="assets/img/cheeseburger.png" alt="burger icon" width="250px" height="250px" >
</div>

<h1>Eat-Da-Burger!</h1>

{{!-- content goes here --}}
<div id="added">
  {{#each burgers}}
    {{#unless this.devoured}}
    <p>{{this.id}}. {{this.burger_name}}
    <button data-id="{{this.id}}" class="devourBtn">Devour It!</button></p>
    {{/unless}}
  {{/each}}
</div>

<div id="devoured">
  {{#each burgers}}
    {{#if this.devoured}}
      <p>{{this.id}}. {{this.burger_name}}>
    {{/if}}
  {{/each}}
</div>


<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <label for="newBurger"></label>
    <input type="text" id="newBurger" name="burger_name">
  </div>

  <button class="submit" class="btn btn-primary">Submit</button>

  <p>Enter a burger you want to eat and click the "submit" button.</p>
</form>
